<h1>List of Guests</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Nbpeople</th>
      <th>Phone</th>
      <th>Message</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @replies.each do |reply| %>
      <tr>
        <td><%= reply.name %></td>
        <td><%= reply.nbpeople %></td>
        <td><%= reply.phone %></td>
        <td><%= reply.message %></td>
        <td><%= link_to 'Show', reply %></td>
        <td><%= link_to 'Edit', edit_reply_path(reply) %></td>
        <td><%= link_to 'Destroy', reply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>Diner only Guests</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Nbpeople</th>
      <th>Phone</th>
      <th>Message</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @diner_only_replies.each do |reply| %>
      <tr>
        <td><%= reply.name %></td>
        <td><%= reply.nbpeople %></td>
        <td><%= reply.phone %></td>
        <td><%= reply.message %></td>
        <td><%= link_to 'Show', reply %></td>
        <td><%= link_to 'Edit', edit_reply_path(reply) %></td>
        <td><%= link_to 'Destroy', reply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reply', new_reply_path %>
