<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reply.name %>
</p>

<p>
  <strong>Nbpeople:</strong>
  <%= @reply.nbpeople %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @reply.phone %>
</p>

<p>
  <strong>Message:</strong>
  <%= @reply.message %>
</p>

<p>
  <strong>Invitation:</strong>
  <%= @reply.invitation %>
</p>

<%= link_to 'Edit', edit_reply_path(@reply) %> |
<%= link_to 'Back', replies_path %>
