              <div class="space-6"></div>

              <div class="position-relative">


                <div id="signup-box" class="signup-box visible  widget-box no-border">
                  <div class="widget-body">
                    <div class="widget-main">
                      <h4 class="header green lighter bigger">
                        <i class="icon-group blue"></i>
                        New User Registration
                      </h4>

                      <div class="space-6"></div>
                      <p> Enter your details to begin: </p>

                      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                        <%= devise_error_messages! %>
                      <fieldset>
                        <label class="block clearfix">
                          <span class="block input-icon input-icon-right">
                          <%= f.text_field :username, autofocus: true, class: "form-control", placeholder: "Username" %>
                           <i class="icon-user"></i>
                           </span>
                         </label>
                        <label class="block clearfix">
                          <span class="block input-icon input-icon-right">
                          <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
                           <i class="icon-envelope"></i>
                           </span>
                         </label>

                        <label class="block clearfix">
                          <span class="block input-icon input-icon-right">
                          <%= f.password_field :password, autocomplete: "off" , class: "form-control", placeholder: "Password" %>
                           <i class="icon-lock"></i>
                           </span>
                         </label>
                        <label class="block clearfix">
                          <span class="block input-icon input-icon-right">
                          <%= f.password_field :password_confirmation, autocomplete: "off" , class: "form-control", placeholder: "Password Confirmation" %>
                           <i class="icon-retweet"></i>
                           </span>
                         </label>


                          <label class="block">
                            <input type="checkbox" class="ace" />
                            <span class="lbl">
                              I accept the
                              <a href="#">User Agreement</a>
                            </span>
                          </label>

                          <div class="space-24"></div>

                          <div class="clearfix">
                            <button type="reset" class="width-30 pull-left btn btn-sm">
                              <i class="icon-refresh"></i>
                              Reset
                            </button>

                            <button type="submit" class="width-65 pull-right btn btn-sm btn-success">
                              Register
                              <i class="icon-arrow-right icon-on-right"></i>
                            </button>

                          </div>
                        </fieldset>
                      <% end %>
                    </div>
                  <div class="toolbar clearfix">
                    <div>
                      <a href="<%= new_session_path(resource_name) %>" class="back-to-login-link">
                        <i class="icon-arrow-left"></i>
                        Back to login
                      </a>
                    </div>
                  </div><!-- /widget-body -->
                </div><!-- /signup-box -->
              </div><!-- /position-relative -->
