<div class="{{> cssClass}}"{{> id}}{{> style}}>{{!

    }}{{#each images}}{{!

    }}<div class="photo" style="background-image: url({{../server}}{{image}});">{{!
        }}<img src="{{../server}}{{image}}" width="100%" style="visibility: hidden;" />{{!
    }}</div>{{!

    }}{{/each}}{{!

}}</div>