<div class="page-menu{{> cssClass}}"{{> id}}{{> style}}>{{!

    }}<div class="flowers">{{!

        }}<div class="welcome">我们荣幸的邀请您参加</div>{{!
        }}<div class="and">{{groom}}<span>{{bride}}</span></div>{{!

        }}<div class="date"><span>{{weddingday}}</span><br>{{subdate}}</div>{{!

        }}<div class="welcome2">{{!
            }}<pre>{{welcomemsg}}</pre>{{!
        }}</div>{{!

    }}</div>{{!

    }}<div class="couple"></div>{{!

    }}<div class="menufooter">{{!
        }}<a class="album" href="#/album">&nbsp;</a>{{!
        }}<a class="events" href="#/events">&nbsp;</a>{{!
        }}<a class="replies" href="#/replies">&nbsp;</a>{{!
        }}<a class="blessings" href="#/blessings">&nbsp;</a>{{!
    }}</div>{{!

}}</div>