{{#foreach items}}{{!

    }}<div class="list-item blessing card">{{!
}}

        <div class="item item-divider">{{name}}</div>
        <div class="item item-text-wrap">{{content}}</div>

{{!
    }}</div>{{!

}}{{/foreach}}