<div class="blessing-list{{!
    }}{{> cssClass}}"{{!
    }}{{> style}}{{!
    }}{{> id}}>{{!

}}</div>{{!

}}<div class="list-loader ion-ios7-reloading loader{{!

    }}{{#if_eq isLoading compare=false defaults=true}}{{!
        }} list-loader-hide{{!
    }}{{/if_eq}}{{!

    }}" id="{{id}}-loader">{{!

}}</div>