<div class="event-item"{{> id}}>{{!

    }}<div class="name">{{event.name}}</div>{{!

    }}<div class="separator"></div>{{!

    }}<div class="address">{{event.address}}</div>{{!

    }}<div class="address">{{event.eventmoment}} 恭候入席</div>{{!

    }}{{> items}}{{!

    }}<a class="navigation-btn" href="http://maps.apple.com?saddr=&daddr={{event.address}}">导航</a>{{!

}}</div>