.page-album {
    //width: 100%;
    //overflow: hidden;
    padding-top: 5px;
}

div.gallery-row:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }

div.gallery-item {
    float: left;
    width: 33.33333333%;
}

div.gallery-item a {
    text-decoration: none;
    color: transparent;
    display: block;
    margin: 2%;
    border: 1px solid rgba(0,0,0,0.3);
    width: 96%;
    height: 120px;
    background-color: transparent;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

div.gallery-item img { display: block; width: 100%; height: auto; }