.page-album {
    width: 100%;
    overflow: hidden;
}

.photo {
    border: 10px solid transparent;
    overflow: hidden;
    background-size: contain;
    background-position: center center;
    background-color: transparent;
    background-repeat: no-repeat;
    height: 100%;
    display: inline-block;
}