@title-height: 90px;

.page-blessings {
    padding-top: (@title-height - 20px);
}

.list-loader {
    font-size: 24px;
    margin: 0px auto;
    width: 100%;
    text-align: center;
}

.list-loader-hide {
    display: none;
}

.page-blessings .title-top,
.page-blessings .title-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: @title-height;
}

.page-blessings .bottom-background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    z-index: 2;
}

.page-blessings .title-top {
    background-image: url({{output}}images/blessings/title.png);
    background-position: 50% 20px;
    background-size: 200px;
    background-repeat: no-repeat;
    z-index: 3;
}

.page-blessings .title-background {
    z-index: 2;
}

.page-blessings .content {
    z-index: 0;
    padding: 0 10px;
}

.page-blessings .empty {

}

.page-blessings .form {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 20px 10px 0 10px;
    -webkit-transform: translate3d(0, 145px, 0);
    -webkit-transition: -webkit-transform 500ms;
    z-index: 1;
}

.page-blessings .form.show {
    -webkit-transform: translate3d(0, 0, 0);
}