.page-events .content {
    background-image: url({{output}}images/events/title.png);
    background-position: 50% 20px;
    background-size: 220px;
    background-repeat: no-repeat;
    padding: 80px 20px 10px 20px;
}

.page-events .name,
.page-events .address {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #696969;
    padding: 5px 0px;
}

.page-events .separator {
    width: 100%;
    border-bottom: 1px dashed #696969;
}

.gmap-viewport {
    height: 250px !important;
}

.navigation-btn {
    float: right;
    margin: 5px 0 10px 0;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background-color:#ededed;
    border-top-left-radius:13px;
    border-top-right-radius:13px;
    border-bottom-right-radius:13px;
    border-bottom-left-radius:13px;
    text-indent:0px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:Arial;
    font-size:15px;
    height:27px;
    line-height:27px;
    width:57px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #ffffff;
}

.event-item {
    clear: both;
}