@title-size: 80%;
@title-margin-top: 20%;
@font-size: 30px;

.home {
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-size: @font-size;
}

.home .background, .home .background-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home .background {
    background-image: url({{output}}images/home.jpg);
}

.home .background-blur {
    background-image: url({{output}}images/home-blur.jpg);
    opacity: 0;
    -webkit-transition: opacity 1000ms;
}

.home .background-blur.show-blur {
    opacity: 1;
}

.home .title {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: ((100% - @title-size) / 2);
    margin-top: @title-margin-top;
    width: @title-size;
    height: (100% - @title-margin-top);
    background-image: url({{output}}images/logo.png);
    background-color: transparent;
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
}

.home .title .names {
    width: 100%;
    color: #fff;
    font-size: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 146px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.home .ring {
    position: absolute;
    width: 100%;
    height: 50px;
    background-image: url(images/ring.png);
    background-color: transparent;
    background-position: center center;
    background-size: 39px;
    background-repeat: no-repeat;
    top: 70%;
}