.page-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page-menu .flowers {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    height: 230px;
    background-color: transparent;
    background-image: url({{output}}images/menu/flowers.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.page-menu .flowers .date {
    width: 100px;
    position: absolute;
    margin-top: 77px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
    text-align: center;
    overflow: hidden;
    color: #595758;
    font-size: 15px;
    font-weight: bold;
}

.page-menu .flowers .date span {
    color: #6d4464;
}

.flowers .and {
position: absolute;
width: 320px;
text-align: center;
height: 25.5px;
line-height: 25.5px;
margin: 36px auto 0 auto;
padding: 0;
background: url(images/menu/and.png) center center no-repeat;
background-size: contain;
color: #3b3b3b;
font-weight: bold;
font-size: 27px;
}

.flowers .and span {
    padding-left: 49px;
}

.flowers .and .image {
    display: inline-block;
    width: (51px / 2);
    height: (51px / 2);
    background: url({{output}}images/menu/and.png) center center no-repeat;
    background-size: contain;
    color: #888;
    font-weight: bold;
    font-size: 25px;
}

.flowers .welcome {
font-size: 12px;
color: #575759;
text-align: center;
width: 320px;
position: absolute;
margin-top: 10px;
}

.flowers .welcome2 {
font-size: 11px;
color: #575757;
text-align: center;
width: 320px;
position: absolute;
margin-top: 155px;
}

.page-menu .couple {
width: 320px;
height: 225px;
background-image: url(images/menu/couple.png);
background-size: contain;
background-position: 76px 50%;
position: absolute;
background-repeat: no-repeat;
position: absolute;
margin-left: -160px;
left: 50%;
bottom: 8%;
}

.page-menu .menufooter {
width: 320px;
height: 97px;
background: url(images/menu/footer.png) center center no-repeat;
background-size: contain;
position: absolute;
margin-left: -160px;
left: 50%;
bottom: 3%;
}

.page-menu .menufooter a {
color: transparent;
text-decoration: none;
display: inline-block;
position: absolute;
}

.page-menu .menufooter .album {
width: 60px;
height: 60px;
//border-radius: 200px;
bottom: 13px;
left: 20px;
}

.page-menu .menufooter .events {
width: 70px;
height: 80px;
//border-radius: 200px;
bottom: 15px;
left: 77px;
}

.page-menu .menufooter .replies {
width: 70px;
height: 80px;
//border-radius: 200px;
bottom: -1px;
left: 158px;
}

.page-menu .menufooter .blessings {
width: 60px;
height: 60px;
//border-radius: 200px;
bottom: 26px;
left: 236px;
}

@media screen and (min-height: 550px) {
    .page-menu {
        padding-top: 10px;
    }

    .page-menu .couple {
        height: 280px;
        background-position: 47px 50%;
    }
}