.page-replies .image {
    width: 100%;
    height: 140px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 65px;
}

.page-replies .content {
    background-image: url({{output}}images/replies/title.png);
    background-position: 50% 154px;
    background-size: 200px;
    background-repeat: no-repeat;
    padding: 0px;
}

.page-replies .separator {
    width: 100%;
    border-bottom: 1px dashed #696969;
}

.page-replies .input-label {
    color: #a0a0a0;
    text-align: right;
    width: 26%;
}

.page-replies .item {
    border-top-style: dashed;
}

.page-replies input,
.page-replies textarea,
.page-replies .quantity-button,
.page-replies .quantity-field {
    color: #535c57;
}

.quantity-button:before {
    line-height: 28px !important;
}

.page-replies .col {
    height: 40px !important;
    overflow: hidden;
    line-height: 30px !important;
}

.page-replies .text-center {
    margin: 0 14px;
    font-size: 26px;
}

.page-replies .input-label {
    -webkit-transition: color 500ms;
}

.page-replies .fielderror .input-label {
    color: #ff7777;
    -webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;
    -webkit-animation-name: tada;
}