@blue-background: #c0e4fc;
@button-background: #a178c7;

.top-gradient(@bg) {
    background: -moz-linear-gradient(top, rgba(red(@bg), green(@bg), blue(@bg), 1) 79%, rgba(red(@bg), green(@bg), blue(@bg), 0.24) 95%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(79%,rgba(red(@bg), green(@bg), blue(@bg), 1)), color-stop(95%,rgba(red(@bg), green(@bg), blue(@bg), 0.24)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(red(@bg), green(@bg), blue(@bg), 1) 79%,rgba(red(@bg), green(@bg), blue(@bg), 0.24) 95%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(red(@bg), green(@bg), blue(@bg), 1) 79%,rgba(red(@bg), green(@bg), blue(@bg), 0.24) 95%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(red(@bg), green(@bg), blue(@bg), 1) 79%,rgba(red(@bg), green(@bg), blue(@bg), 0.24) 95%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(red(@bg), green(@bg), blue(@bg), 1) 79%,rgba(red(@bg), green(@bg), blue(@bg), 0.24) 95%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@bg', endColorstr='#00ffffff',GradientType=0 );
}

.bottom-gradient(@bg) {
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%,  rgba(red(@bg), green(@bg), blue(@bg), 0.05) 3%, rgba(red(@bg), green(@bg), blue(@bg), 1) 55%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(3%, rgba(red(@bg), green(@bg), blue(@bg), 0.05)), color-stop(55%,rgba(red(@bg), green(@bg), blue(@bg), 1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(red(@bg), green(@bg), blue(@bg), 0.05) 3%,rgba(red(@bg), green(@bg), blue(@bg), 1) 55%);
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(red(@bg), green(@bg), blue(@bg), 0.05) 3%,rgba(red(@bg), green(@bg), blue(@bg), 1) 55%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(red(@bg), green(@bg), blue(@bg), 0.05) 3%,rgba(red(@bg), green(@bg), blue(@bg), 1) 55%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%, rgba(red(@bg), green(@bg), blue(@bg), 0.05) 3%,rgba(red(@bg), green(@bg), blue(@bg), 1) 55%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='@bg',GradientType=0 );
}

.form-gradient(@bg) {
    background: -moz-linear-gradient(top,  rgba(red(@bg), green(@bg), blue(@bg),0) 0%, rgba(red(@bg), green(@bg), blue(@bg),1) 9%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(red(@bg), green(@bg), blue(@bg),0)), color-stop(9%,rgba(red(@bg), green(@bg), blue(@bg),1)));
    background: -webkit-linear-gradient(top,  rgba(red(@bg), green(@bg), blue(@bg),0) 0%,rgba(red(@bg), green(@bg), blue(@bg),1) 9%);
    background: -o-linear-gradient(top,  rgba(red(@bg), green(@bg), blue(@bg),0) 0%,rgba(red(@bg), green(@bg), blue(@bg),1) 9%);
    background: -ms-linear-gradient(top,  rgba(red(@bg), green(@bg), blue(@bg),0) 0%,rgba(red(@bg), green(@bg), blue(@bg),1) 9%);
    background: linear-gradient(to bottom,  rgba(red(@bg), green(@bg), blue(@bg),0) 0%,rgba(red(@bg), green(@bg), blue(@bg),1) 9%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f6e4d0', endColorstr='@bg',GradientType=0 );
}

.blue {
    background-color: @blue-background;
}

.blue .title-background {
    .top-gradient(@blue-background);
}

.blue .bottom-background {
    .bottom-gradient(@blue-background);
}

.blue .button.button-brown:active,
.blue .button.button-brown.active,
.blue .button.button-brown:hover {
    background: darken(@blue-background, 35%);
    border-color: darken(@blue-background, 40%);
}

.blue .button.button-brown {
    background: darken(@blue-background, 20%);
    border-color: darken(@blue-background, 20%);
    color: #fff;
}

.blue .blessing.card .item-divider {
    background: darken(@blue-background, 10%);
    color: darken(@blue-background, 40%);
    border-color: darken(@blue-background, 10%);
}

.blue .blessing.card .item {
    xborder-color: #e5d2b1;
}

.blue .blessing.card .item-text-wrap {
    background: darken(@blue-background, 5%);
    border-color: darken(@blue-background, 5%);
    color: darken(@blue-background, 35%);
}

.blue.page-blessings .form {
    .form-gradient(@blue-background);
}

.blue.page-blessings .form .name ::-webkit-input-placeholder {
    color: #624a1e;
}

.blue.page-blessings .form .name {
    color: #624a1e;
    background: #e5d2b1;
    border-color: #e5d2b1;
    border-radius: 2px;
}

.blue.page-blessings .form .message ::-webkit-input-placeholder {
    color: #626061;
}

.blue.page-blessings .form .message,
.blue.page-blessings .form .message textarea {
    color: #626061;
    background: #f9f0e7;
    border-color: #f9f0e7;
    border-radius: 2px;
}