@bright-background: #f6e4d0;

.bright {
    background-color: @bright-background;
}

.bright .title-background {
    background: -moz-linear-gradient(top, rgba(246,228,208,1) 79%, rgba(246,228,208,0.24) 95%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(79%,rgba(246,228,208,1)), color-stop(95%,rgba(246,228,208,0.24)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(246,228,208,1) 79%,rgba(246,228,208,0.24) 95%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(246,228,208,1) 79%,rgba(246,228,208,0.24) 95%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(246,228,208,1) 79%,rgba(246,228,208,0.24) 95%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(246,228,208,1) 79%,rgba(246,228,208,0.24) 95%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e4d0', endColorstr='#00ffffff',GradientType=0 );
}

.bright .bottom-background {
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(246,228,208,0.05) 3%, rgba(246,228,208,1) 55%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(3%,rgba(246,228,208,0.05)), color-stop(55%,rgba(246,228,208,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(246,228,208,0.05) 3%,rgba(246,228,208,1) 55%);
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(246,228,208,0.05) 3%,rgba(246,228,208,1) 55%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(246,228,208,0.05) 3%,rgba(246,228,208,1) 55%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(246,228,208,0.05) 3%,rgba(246,228,208,1) 55%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f6e4d0',GradientType=0 );
}

.bright .button.button-brown:active,
.bright .button.button-brown.active,
.bright .button.button-brown:hover {
    background: darken(#b0917c, 5%);
    border-color: darken(#b0917c, 10%);
}

.bright .button.button-brown {
    background: #b0917c;
    border-color: #b0917c;
    color: #fff;
}

.bright .blessing.card .item-divider {
    background: #e5d2b1;
    color: #624a1e;
    border-color: #e5d2b1;
}

.bright .blessing.card .item {
    xborder-color: #e5d2b1;
}

.bright .blessing.card .item-text-wrap {
    background: #f9f0e7;
    border-color: #f9f0e7;
    color: #626061;
}

.bright.page-blessings .form {
    background: -moz-linear-gradient(top,  rgba(246,228,208,0) 0%, rgba(246,228,208,1) 9%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,228,208,0)), color-stop(9%,rgba(246,228,208,1)));
    background: -webkit-linear-gradient(top,  rgba(246,228,208,0) 0%,rgba(246,228,208,1) 9%);
    background: -o-linear-gradient(top,  rgba(246,228,208,0) 0%,rgba(246,228,208,1) 9%);
    background: -ms-linear-gradient(top,  rgba(246,228,208,0) 0%,rgba(246,228,208,1) 9%);
    background: linear-gradient(to bottom,  rgba(246,228,208,0) 0%,rgba(246,228,208,1) 9%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f6e4d0', endColorstr='#f6e4d0',GradientType=0 );
}

.bright.page-blessings .form .name ::-webkit-input-placeholder {
    color: #624a1e;
}

.bright.page-blessings .form .name {
    color: #624a1e;
    background: #e5d2b1;
    border-color: #e5d2b1;
    border-radius: 2px;
}

.bright.page-blessings .form .message ::-webkit-input-placeholder {
    color: #626061;
}

.bright.page-blessings .form .message,
.bright.page-blessings .form .message textarea {
    color: #626061;
    background: #f9f0e7;
    border-color: #f9f0e7;
    border-radius: 2px;
}