<ul class="nav nav-list">
  <li class="<%= "active" if params[:controller] == "users" &&  params[:action] == "show" %>">
    <a href="<%= user_path  %>">
      <i class="icon-dashboard"></i>
      <span class="menu-text"> Dashboard </span>
    </a>
  </li>

<% current_user.invitations.each do |inv| %>

   <li class="<%= "active open" if params[:id].to_i == inv.id %>">
    <a href="#" class="dropdown-toggle">
      <i class="icon-file-alt"></i>

      <span class="menu-text">
        <%= inv.name %>
      </span>

      <b class="arrow icon-angle-down"></b>
    </a>

    <ul class="submenu">
      <li class="<%= "active" if params[:controller] == "invitations" && params[:action] == "show" &&  params[:id].to_i == inv.id %>">
        <a href="<%= invitation_path(inv)  %>">
          <i class="icon-double-angle-right"></i>
          <%= t :overview %>
        </a>
      </li>
      <li class="<%= "active" if params[:controller] == "invitations" && params[:action] == "edit" &&  params[:id].to_i == inv.id %>">
        <a href="<%= edit_invitation_path(inv)  %>">
          <i class="icon-double-angle-right"></i>
          <%= t :general_info %>
        </a>
      </li>
      <li class="<%= "active" if params[:controller] == "events" && params[:action] == "index" &&  params[:id].to_i == inv.id %>">
        <a href="<%= myevents_events_path(inv)  %>">
          <i class="icon-double-angle-right"></i>
          <%= t :events %>
        </a>
      </li>
      <li class="<%= "active" if params[:controller] == "invitations" && params[:action] == "galery" &&  params[:id].to_i == inv.id %>">
        <a href="<%= myphotos_invitations_path(inv)  %>">
          <i class="icon-double-angle-right"></i>
          <%= t :my_photos %>
        </a>
      </li>
      <li class="<%= "active" if params[:controller] == "replies" && params[:action] == "index" &&  params[:id].to_i == inv.id %>">
        <a href="<%= myreplies_replies_path(inv)  %>">
          <i class="icon-double-angle-right"></i>
          <%= t :my_replies %>
        </a>
      </li>
      <li class="<%= "active" if params[:controller] == "blessings" && params[:action] == "index" &&  params[:id].to_i == inv.id %>">
        <a href="<%=  myblessings_blessings_path(inv)  %>">
          <i class="icon-double-angle-right"></i>
          <%= t :my_blessings %>
        </a>
      </li>
    </ul>
  </li>

<% end -%>
  <li class="<%= "active" if params[:controller] == "users" &&  params[:action] == "settings" %>">
    <a href="<%= user_settings_path  %>">
      <i class="icon-text-width"></i>
      <span class="menu-text"> Settings </span>
    </a>
  </li>


</ul><!-- /.nav-list -->