<div class="sidebar-shortcuts" id="sidebar-shortcuts">
  <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">


    <button class="btn btn-info" id="new_app_btn">
      <i class="icon-plus"></i>
      <span class="menu-text"> <%= t :new_app %> </span>
    </button>

  </div>

  <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
    <span class="btn btn-success"></span>

    <span class="btn btn-info"></span>

    <span class="btn btn-warning"></span>

    <span class="btn btn-danger"></span>
  </div>
</div><!-- #sidebar-shortcuts -->