<% if @invitation %>
var Data = {
    events: <%= raw @events.to_json %>,
    invitation: <%= raw @invitation.to_json %>,
    gallery: <%= raw @invitation.attachements.to_json %>,
    event_type: "<%= params[:event_type] %>"
};
var contentModel = {
    img_url: 'http://' + window.location.host + '<%= @invitation.attachements.first.image.url(:thumb) %>',
    title: '<%= @invitation.name %>',
    src: '<%= raw "于#{I18n.l(@invitation.weddingday)}#{@invitation.welcomemsg}".gsub(/[\n\r\t]+/, " ") %>'
};
<% end %>