<div class="page-header">
  <h1>
    Event
    <small>
      <i class="icon-double-angle-right"></i>
      Your mariage events
    </small>
  </h1>

</div>


<a class="btn btn-primary"  data-toggle="modal" role="button" href="#modal-form">
  <i class="icon-plus align-top bigger-125"></i>
   <%= t :new_event %>
</a>

<% @events.each_with_index do |e, i| %>
  <div class="widget-box">
      <div class="widget-header">
        <h4><%= "#{t(:event)} #{i+1} - #{e.name}" %></h4>

        <span class="widget-toolbar">
          <a href="#" data-action="collapse">
            <i class="icon-chevron-up"></i>
          </a>
          <%= link_to(destroy_event_events_path(e)) do %>
            <i class="icon-remove red"></i>
          <% end -%>
        </span>
      </div>

      <div class="widget-body">
        <div class="widget-main">

            <span class="lbl"><%= debug e %></span>
        </div>
      </div>
    </div>
<% end -%>
<%= form_for @event do | f | %>
<div id="modal-form" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="blue bigger">Please fill the following form fields (Every field is required!)</h4>
      </div>
      <div class="modal-body overflow-visible">
        <div class="row">
          <div class="col-xs-12">
            <div class="space-4"></div>
            <div class="form-group">
              <div class="col-sm-3">
                <label><%= t :name %></label>
              </div>
              <div class="col-sm-9 ">
                <%= f.text_field :name, class: "col-xs-12" , placeholder: t(:name)%>
              </div>
              <%= f.hidden_field :invitation_id, value: params[:id]%>
              <div>
                <div class="form-group">
                  <div class="col-sm-3">
                    <label class="control-label no-padding-right"><%= t :address %></label>
                  </div>

                  <div class="col-sm-9 ">
                    <%= f.text_field :address, class: "col-xs-12" , placeholder: t(:address) %>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-3">
                    <label class="control-label no-padding-right"><%= t :cordinate %></label>
                  </div>
                  <div class="col-sm-9 ">
                  <%= f.text_field :longitude, class: "col-xs-6", placeholder: t(:longitude) %><%= f.text_field :latitude, class: "col-xs-6", placeholder: t(:latitude) %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-3">
                    <label class="control-label no-padding-right"><%= t :phone %></label>
                  </div>
                  <div class="col-sm-9 ">
                    <%= f.text_field :phone, class: "col-xs-12" , placeholder: t(:phone)%>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-3">
                    <label class="control-label no-padding-right"><%= t :event_time %></label>
                  </div>
                  <div class="col-sm-9 ">
                    <%= f.text_field :eventtime, class: "col-xs-12" , placeholder: t(:event_time), id: "eventtimeinput", :"data-format" => "dd/MM/yyyy hh:mm:ss" %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-3">
                    <label class="control-label no-padding-right"><%= t :is_diner %></label>
                  </div>
                  <div class="col-sm-9 ">
                    <%= f.check_box :is_diner, class: "col-xs-1" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-sm" data-dismiss="modal">
          <i class="icon-remove"></i>
          Cancel
        </button>
        <%= f.submit class: "btn btn-sm btn-primary", id: "event_submit" %>
      </div>
    </div>
  </div>
  <% end -%>

