<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="{{me.app_title}}">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="HandheldFriendly" content="true">
        <meta name="MobileOptimized" content="width">
        <meta name="format-detection" content="telephone=no" />
        {{#each files.stylesheets~}}
        <link href="{{.}}?t={{timestamp}}&amp;v={{../current.version}}" media="all" rel="stylesheet" type="text/css"/>
        {{~/each}}
        <style>
        .hidden { display: none;}
        </style>
    </head>
    <body id="bodyId">
        {{#if minify~}}{{else}}
        <script src="server.js"></script>
        {{/if~}}
        <script>
        <!--
        (function() {
            if (typeof window.server !== 'string') {
                if (window.location && window.location.origin) {
                    window.server = window.location.origin;
                } else {
                    window.server = '';
                }
            }

            if (window.server.substr(-1) !== '/') {
                window.server = window.server + '/';
            }

            function add_script(src, callback) {

                var node = document.createElement('script');

                if (callback) node.onload = callback;
                node.src = src;
                document.body.appendChild(node);
            }

            var event_type = 's';

            if (window.location.search.indexOf('e=f') !== -1) {
                event_type = 'f';
            }

            var scripts = [
                window.server + 'app/1/' + event_type + '/initialize.js',
                {{#each files.javascripts~}}
                '{{.}}?t={{timestamp}}&amp;v={{../current.version}}'{{#if $last}},{{/if}}
                {{~/each}}{{#if minify~}}{{else}}
                    ,'http://' + location.host.split(':')[0] + ':35729/livereload.js'
                {{/if~}}
            ];

            add_script(scripts[0], function() {
                add_script(scripts[1]);
                if (scripts[2]) add_script(scripts[2]);
            });

        }());
        // -->
        </script>
    </body>
</html>
