<%= form_for(@invitation) do |f| %>
  <% if @invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

      <ul>
      <% @invitation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :bride %><br>
    <%= f.text_field :bride %>
  </div>
  <div class="field">
    <%= f.label :groom %><br>
    <%= f.text_field :groom %>
  </div>
  <div class="field">
    <%= f.label :weddingday %><br>
    <%= f.date_select :weddingday %>
  </div>
  <div class="field">
    <%= f.label :theme %><br>
    <%= f.text_field :theme %>
  </div>

  <div class="field">
    <%= f.label :welcomemsg %><br>
    <%= f.text_area :welcomemsg, size: "60x10" %>
  </div>

  <div class="field">
    <%= f.label :bgmusic %><br>
    <%= f.file_field :bgmusic %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
