              <div class="page-header">
              <h1>
                Gallery
                <small>
                  <i class="icon-double-angle-right"></i>
                  responsive photo gallery using colorbox
                </small>
              </h1>

            </div>

              <div class="row-fluid">
                  <ul class="ace-thumbnails">
                  <li>
                   <a class="btn btn-app btn-info"  data-toggle="modal" role="button" href="#modal-form">
                   <i class="icon-plus bigger-230"></i>
                        <%= t :new %>
                    </a>
                    <% @photos.each do |p| %>
                    <li>
                      <a href="<%= p.image.url(:original) %>" data-rel="colorbox">
                        <img alt="150x150" src="<%= p.image.url(:thumb) %>" />
                        <div class="text">
                          <div class="inner"><%= p.name %> </div>
                        </div>
                      </a>

                      <div class="tools tools-bottom">
<!--                         <a href="#">
                          <i class="icon-link"></i>
                        </a>

                        <a href="#">
                          <i class="icon-paper-clip"></i>
                        </a>

                        <a href="#">
                          <i class="icon-pencil"></i>
                        </a>
 -->
                         <a href="<%= destroy_attachement_invitations_path(p.id) %>">
                        <i class="icon-remove red"></i>

                        </a>
                      </div>
                    </li>
                    <% end -%>

                  </ul>
                </div>


            <%= form_for @photo, url: {controller: "invitations", action: "add_attachement"} do | f | %>
                <div id="modal-form" class="modal" tabindex="-1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="blue bigger">Please fill the following form fields</h4>
                      </div>
                      <div class="modal-body overflow-visible">
                        <div class="row">

                          <div class="col-xs-12 col-sm-5">
                              <div class="space"></div>
                                <%= f.file_field :image, id: "gallery_new_img_input" %>
                              </div>
                              <div class="col-xs-12 col-sm-7">
                                  <div class="space-4"></div>
                                  <div class="form-group">
                                    <label for="form-field-username">Username</label>
                                  <div>
                                <%= f.text_field :name, class: "input-large" %>

                              </div>
                          </div>
                        </div>
                      </div>
                        </div>
                      </div>

                      <div class="modal-footer">
                        <button class="btn btn-sm" data-dismiss="modal">
                          <i class="icon-remove"></i>
                          Cancel
                        </button>
                        <%= f.submit class: "btn btn-sm btn-primary" %>

                      </div>
                    </div>
                  </div>
                <% end -%>