<p id="notice"><%= notice %></p>
<p>
  <strong>Id:</strong>
  <%= @invitation.id %>
</p>


<p>
  <strong>Name:</strong>
  <%= @invitation.name %>
</p>


<p>
  <strong>Bride:</strong>
  <%= @invitation.bride %>
</p>

<p>
  <strong>Groom:</strong>
  <%= @invitation.groom %>
</p>

<p>
  <strong>Weddingday:</strong>
  <%= @invitation.weddingday %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @invitation.theme %>
</p>

<p>
  <strong>User:</strong>
  <%= @invitation.user.username %>
</p>

<p>
<strong>Full Invit qrcode:</strong>
<style type="text/css">
table {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
}
td {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 10px;
  height: 10px;
}
td.black { background-color: #000; }
td.white { background-color: #fff; }
</style>

<table>
<% @fullqr.modules.each_index do |x| %>
  <tr>
  <% @fullqr.modules.each_index do |y| %>
   <% if @fullqr.dark?(x,y) %>
    <td class="black"/>
   <% else %>
    <td class="white"/>
   <% end %>
  <% end %>
  </tr>
<% end %>
</table>
</p>
<br><br><br><br><br>
<p>
<strong>Diner only Invit qrcode: </strong>

<table>
<% @diner_only.modules.each_index do |x| %>
  <tr>
  <% @diner_only.modules.each_index do |y| %>
   <% if @diner_only.dark?(x,y) %>
    <td class="black"/>
   <% else %>
    <td class="white"/>
   <% end %>
  <% end %>
  </tr>
<% end %>
</table>
</p>

<%= link_to 'Edit', edit_invitation_path(@invitation) %> |
<%= link_to 'Back', invitations_path %>
