              <div class="space-6"></div>
              <div class="position-relative">
                <div id="login-box" class="login-box visible widget-box no-border">
                  <div class="widget-body">
                    <div class="widget-main">
                      <h4 class="header blue lighter bigger">
                        <i class="icon-coffee green"></i>
                        Please Enter Your Information
                      </h4>

                      <div class="space-6"></div>
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <fieldset>
                          <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                            <%= f.text_field :login, autofocus: true, class: "form-control", placeholder: "Login" %>
                             <i class="icon-user"></i>
                             </span>
                           </label>

                          <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                            <%= f.password_field :password, autocomplete: "off" , class: "form-control", placeholder: "Password" %>
                             <i class="icon-lock"></i>
                             </span>
                           </label>


                          <div class="space"></div>

                          <div class="clearfix">
                            <label class="inline">
                              <% if devise_mapping.rememberable? -%>
                                <%= f.check_box :remember_me, class: "ace" %> <%= f.label :remember_me, class: "lbl" %>
                              <% end -%>
                            </label>

                          <%= f.submit "Sign in", class: "width-35 pull-right btn btn-sm btn-primary" %>
                          </fieldset>
                        <% end %>
                            <div class="social-or-login center">
                        <span class="bigger-110">Or Login Using</span>
                      </div>

                      <div class="social-login center">
                        <a class="btn btn-primary">
                          <i class="icon-facebook"></i>
                        </a>

                        <a class="btn btn-info">
                          <i class="icon-twitter"></i>
                        </a>

                        <a class="btn btn-danger">
                          <i class="icon-google-plus"></i>
                        </a>
                      </div>
                    </div><!-- /widget-main -->

                    <div class="toolbar clearfix">
                      <div>
                        <a href="<%= new_password_path(resource_name) %>" class="forgot-password-link">
                          <i class="icon-arrow-left"></i>
                          Forgot your password?
                        </a>
                      </div>

                      <div>
                        <a href="<%= new_registration_path(resource_name) %>" class="user-signup-link" >
                          Sign up
                          <i class="icon-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                  </div><!-- /widget-body -->
                </div><!-- /signup-box -->
              </div><!-- /position-relative -->
