<%= form_for(@blessing) do |f| %>
  <% if @blessing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blessing.errors.count, "error") %> prohibited this blessing from being saved:</h2>

      <ul>
      <% @blessing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :invitation_id %><br>
    <%= f.text_field :invitation_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
