<h1>Listing blessings</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Name</th>
      <th>Invitation</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @blessings.each do |blessing| %>
      <tr>
        <td><%= blessing.content %></td>
        <td><%= blessing.name %></td>
        <td><%= blessing.invitation %></td>
        <td><%= link_to 'Show', blessing %></td>
        <td><%= link_to 'Edit', edit_blessing_path(blessing) %></td>
        <td><%= link_to 'Destroy', blessing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blessing', new_blessing_path %>
