<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @blessing.content %>
</p>

<p>
  <strong>Name:</strong>
  <%= @blessing.name %>
</p>

<p>
  <strong>Invitation:</strong>
  <%= @blessing.invitation %>
</p>

<%= link_to 'Edit', edit_blessing_path(@blessing) %> |
<%= link_to 'Back', blessings_path %>
