<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>SnInvit</title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- basic styles -->

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

    <%= csrf_meta_tags %>


    <!--[if IE 7]>
      <link rel="stylesheet" href="/assets/font-awesome-ie7.min.css" />
    <![endif]-->

    <!-- page specific plugin styles -->



    <!--[if lte IE 8]>
      <link rel="stylesheet" href="/assets/ace-ie.min.css" />
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script src="/assets/html5shiv.js"></script>
    <script src="/assets/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
      <%= render '/shared/blue_navbar' %>
    <div class="main-container" id="main-container">
      <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
      </script>

      <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
          <span class="menu-text"></span>
        </a>

        <div class="sidebar" id="sidebar">
          <script type="text/javascript">
            try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
          </script>

          <%= render '/shared/sidebar_shortcuts' %>

          <%= render '/shared/left_navigation' %>

          <div class="sidebar-collapse" id="sidebar-collapse">
            <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
          </div>

          <script type="text/javascript">
            try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
          </script>
        </div>

        <div class="main-content">
          <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
              try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>

            <ul class="breadcrumb">
              <li>
                <i class="icon-home home-icon"></i>
                <a href="#">Home</a>
              </li>

              <li>
                <a href="#">Other Pages</a>
              </li>
              <li class="active">Blank Page</li>
            </ul><!-- .breadcrumb -->

            <div class="nav-search" id="nav-search">
              <form class="form-search">
                <span class="input-icon">
                  <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                  <i class="icon-search nav-search-icon"></i>
                </span>
              </form>
            </div><!-- #nav-search -->
          </div>

          <div class="page-content">
            <div class="row">
              <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                    <% flash.each do |ftype, msg| %>
                        <div class="alert alert-<%= flash_class(ftype) %>">
                              <button type="button" class="close" data-dismiss="alert">
                              <i class="icon-remove"></i>
                           </button>
                           <%= content_tag :p, flash[ftype] %>
                        </div>
                    <% end -%>
                <%= yield %>
                <!-- PAGE CONTENT ENDS -->
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.page-content -->
        </div><!-- /.main-content -->


    </div><!-- /.main-container -->
    <!-- inline scripts related to this page -->


    <!-- basic scripts -->

    <!--[if !IE]> -->

    <script type="text/javascript">
      window.jQuery || document.write("<script src='/assets/jquery-2.0.3.min.js'>"+"<"+"/script>");
    </script>

    <!-- <![endif]-->

    <!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='/assets/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= debug(params) if Rails.env.development? %>
  </body>
</html>
